<ion-view title="Animal Sounds" id="page2">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <button class="button icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-content padding="false" style="background: url(img/HQrHASAQneiSq4kl7AZm_Animals.jpg) no-repeat center;background-size:cover;" scroll="false" class="has-header">
    <div class="spacer" style="width: 300px; height: 172px;"></div>
    <div id="animalSounds-button-bar2" class="button-bar">
      <button id="animalSounds-button24" ng-click="gorilla()" class="button button-positive button-block">Gorilla</button>
      <button id="animalSounds-button36" ng-click="horse()" class="button button-positive button-block">Horse</button>
      <button id="animalSounds-button26" ng-click="lion()" class="button button-positive button-block">Lion</button>
    </div>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <div id="animalSounds-button-bar5" class="button-bar">
      <button id="animalSounds-button40" ng-click="monkey()" class="button button-positive button-block">Monkey</button>
      <button id="animalSounds-button41" ng-click="hippo()" class="button button-positive button-block">Hippo</button>
      <button id="animalSounds-button42" ng-click="whale()" class="button button-positive button-block">Whale</button>
    </div>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <div id="animalSounds-button-bar6" class="button-bar">
      <button id="animalSounds-button43" ng-click="frog()" class="button button-positive button-block">Frog</button>
      <button id="animalSounds-button44" ng-click="falcon()" class="button button-positive button-block">Falcon</button>
      <button id="animalSounds-button45" ng-click="dolphin()" class="button button-positive button-block">Dolphin</button>
    </div>
  </ion-content>
</ion-view>