<ion-view title="People Sounds" id="page3">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/SozvMSyRXiJrpRythBfJ_human.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 156px;"></div>
    <div id="peopleSounds-button-bar7" class="button-bar">
      <button id="peopleSounds-button51" ng-click="burp()" class="button button-positive button-block">Burp</button>
      <button id="peopleSounds-button52" ng-click="sneeze()" class="button button-positive button-block">Sneeze</button>
      <button id="peopleSounds-button53" ng-click="cheer()" class="button button-positive button-block">Cheer</button>
    </div>
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <div id="peopleSounds-button-bar8" class="button-bar">
      <button id="peopleSounds-button54" ng-click="walking()" class="button button-positive button-block">Walking</button>
      <button id="peopleSounds-button55" ng-click="clap()" class="button button-positive button-block">Clap</button>
      <button id="peopleSounds-button56" ng-click="thinking()" class="button button-positive button-block">Thinking</button>
    </div>
    <div class="spacer" style="width: 300px; height: 25px;"></div>
    <div id="peopleSounds-button-bar9" class="button-bar">
      <button id="peopleSounds-button57" ng-click="laugh()" class="button button-positive button-block">Laugh</button>
      <button id="peopleSounds-button58" ng-click="snore()" class="button button-positive button-block">Snore</button>
      <button id="peopleSounds-button59" ng-click="whistle()" class="button button-positive button-block">Whistle</button>
    </div>
  </ion-content>
</ion-view>