<ion-view title="Animals" id="page2">
  <ion-content padding="true" style="background: url(img/HQrHASAQneiSq4kl7AZm_Animals.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 172px;"></div>
    <div id="animals-button-bar2" class="button-bar">
      <button id="animals-button24" ng-click="gorilla()" class="button button-positive button-block">Gorilla</button>
      <button id="animals-button36" ng-click="horse()" class="button button-positive button-block">Horse</button>
      <button id="animals-button26" ng-click="lion()" class="button button-positive button-block">Lion</button>
    </div>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <div id="animals-button-bar5" class="button-bar">
      <button id="animals-button40" ng-click="monkey()" class="button button-positive button-block">Monkey</button>
      <button id="animals-button41" ng-click="hippo()" class="button button-positive button-block">Hippo</button>
      <button id="animals-button42" ng-click="whale()" class="button button-positive button-block">Whale</button>
    </div>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <div id="animals-button-bar6" class="button-bar">
      <button id="animals-button43" ng-click="frog()" class="button button-positive button-block">Frog</button>
      <button id="animals-button44" ng-click="falcon()" class="button button-positive button-block">Falcon</button>
      <button id="animals-button45" ng-click="dolphin()" class="button button-positive button-block">Dolphin</button>
    </div>
  </ion-content>
</ion-view>