<ion-view title="Borat" id="page3">
  <ion-content padding="true" style="background: url(img/xRmVebAkRZ6VyvXHewzc_output_1138x640.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 436px;"></div>
    <div id="borat-button-bar3" class="button-bar">
      <button id="borat-button27" class="button button-positive button-block">Wowa</button>
      <button id="borat-button28" class="button button-positive button-block">Greet</button>
      <button id="borat-button29" class="button button-positive button-block">I Win</button>
    </div>
  </ion-content>
</ion-view>